Repository GaryOcean428/block: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: downgrade to Tailwind CSS v3.4.17 for Vercel build compatibility
  package.json
  src/App.css
  tailwind.config.js
Due: prettier --write

address build errors
  .yarn/install-state.gz
  yarn.lock
Due: none

fix: add TradingProvider to app and update gray to neutral colors
  src/App.tsx
Due: eslint --fix, prettier --write

fix: add SettingsProvider to app to resolve context error
  src/App.tsx
Due: eslint --fix, prettier --write

feat: implement secure Supabase auth and encrypted API key storage
  .env.template
  src/App.tsx
  src/components/Auth/AuthForm.tsx
  src/components/Auth/AuthModal.tsx
  src/components/Auth/index.ts
  src/context/AuthContext.tsx
  src/context/SettingsContext.tsx
  src/pages/Settings.tsx
  src/services/auth.ts
  src/services/supabase.ts
  src/utils/supabase-browser.ts
  supabase/migrations/user_api_keys.sql
Due: eslint --fix, prettier --write

do it now.
  src/App.tsx
  src/components/Extension/ExtensionControls.tsx
  src/components/Extension/ExtensionSettings.tsx
  src/components/Integration.tsx
  src/components/Navbar.tsx
  src/components/dashboard/QuickTrade.tsx
Due: eslint --fix, prettier --write

Delete .env
   .env
Due: none

farken do it mate
  src/components/Auth/AuthForm.tsx
  src/components/ShareModal/share-modal.js
  src/pages/Settings.tsx
Due: eslint --fix, prettier --write

Add tools to improve code quality and type safety
  .npmrc
  eslint.config.js
  package.json
  scripts/fix-common-issues.sh
  scripts/improve-types.sh
Due: prettier --write

Update CLAUDE.md with new helper scripts
  CLAUDE.md
Due: prettier --write

Update README with comprehensive documentation
  README.md
Due: prettier --write

Complete project setup and fix remaining issues
  .yarn/install-state.gz
  .yarn/releases/yarn-4.7.0.cjs
  src/test/e2e/strategyWorkflow.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

Improve UI and implement main features
  src/App.tsx
  src/components/Navbar.tsx
  src/main.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,html,css})
